# Question 1:

Create a Python program that prompts the user to input their scores for their most
recent three attempts, calculates the average score, and then outputs the square of
average to the user.

In [1]:
# fetching data
scores = input("Please enter your last three scores seprated by','comma : ").split(",")

print(scores)

#converting list from string to int

position = 0

while position <= 2:
    scores[position] = int(scores[position])
    position = position +1

print("Scores entered: ", scores)

# calculations for output required

average_scores = sum(scores)/3
print("Average: ", average_scores)
print("Approx average: ", round(average_scores))

squared_average_scores = average_scores **2
print("Sq. Average: ", squared_average_scores)
print("Approx sq. average: ", round(squared_average_scores))

Please enter your last three scores seprated by','comma : 34, 56, 12
['34', ' 56', ' 12']
Scores entered:  [34, 56, 12]
Average:  34.0
Approx average:  34
Sq. Average:  1156.0
Approx sq. average:  1156

# Question 2
Write a Python program that asks the user to enter two numbers and then outputs the
sum, difference and the product.
For example ,
Enter the first number: 10.5
Enter the second number: 4.2
Sum: 14.7
Difference: 6.3
Product: 44.1

In [15]:
#fetching the data

number1 = float(input("please enter the first number"))
number2 = float(input("please enter the second number"))

print("Numbers entered: ", number1, "and", number2)

# Printing Calculations

print("Sum of numbers: ",(number1+number2))

print("Difference of numbers: ", abs(number1-number2))

print("Product of numbers: ", (number1*number2))

#sumation 2nd approach

summation = sum((number1, number2))
print("sum_of numbers", summation)

# doubt ?? why do I need to add one more bracket to use this function

please enter the first number23
please enter the second number12
Numbers entered:  23.0 and 12.0
Sum of numbers:  35.0
Difference of numbers:  11.0
Product of numbers:  276.0
sum_of numbers 35.0

# Question 3

Write a Python program that prompts the user to enter a temperature in Celsius and  then outputs the equivalent temperature in Fahrenheit,using the formula F = (C * 1.8) + 32. 
For example ,  
Enter the temperature in Celsius: 25 
Equivalent temperature in Fahrenheit: 77.0

In [14]:
temperatureC = float(input("Please enter the current temperature in celsius of your home town"))

#converting the celsius temp to fahrenheit temp

temperatureF = ((temperatureC*1.8) +32)

print(temperatureF)

Please enter the current temperature in celsius of your home town30.4
86.72

# Question 4

Write a Python program that asks the user to enter a number and then checks if the  number is even or odd. 
For example, 
Enter a number: 14 
14 is an even number.

In [26]:
number = float(input("Please enter your favourite number"))

# check even or odd

if number%2 == 0:
    print("Even")
else: print("odd")

Please enter your favourite number23
odd

# Question 5
Create a Python program that prompts the user to enter their name and age, and then  outputs a greeting message with their name and the year they turn 100 years old. For example, 
Enter your name: John 
Enter your age: 30 
Hello John! You will turn 100 years old in 2093.

In [36]:
name = input("Please enter your name").title()
age = int(input("Please enter your age in numbers"))

decade = 2024 + (100-age)

print("Hello",name,"! you'll turn 100 years in ",decade,".")

#spacing issue in print

Please enter your nameprachi
Please enter your age in numbers20
Hello Prachi ! you'll turn 100 years in  2104 .

# Question 6

Write a Python program that prompts the user to enter their scores for their most recent  five attempts, calculates the average score, and then outputs the result to the user. For example , 
Enter your scores for the most recent five attempts: 
Attempt 1: 78.5 
Attempt 2: 82.3 
Attempt 3: 76.8 
Attempt 4: 90.2 
Attempt 5: 87.6 
Average score: 83.28

In [64]:
scores = input("Please enter your last 5 scores separated by a (',') comma: ").split(",")
print(scores[0])

#create a an empty list
list_score_int = []

#converting stringed list to integer based list

start = 0
end = len(scores)-1
while start <= end:
    list_score_int.append(float(scores[start]))
    start = start +1

average_scores = (sum(list_score_int))/(len(scores))
print(average_scores)

Please enter your last 5 scores separated by a (',') comma: 90,95,95.5,92,94.5
90
93.4

# Question 7
Write a Python program to ask the user for a string and then print the number of  characters in the string 
For example, 
Enter a string: Hello World! 
The number of characters in the string is 12.

In [72]:
statement = input("Please enter your statement")
print("Number of characters in -",statement, "-:", len(statement))

Please enter your statementhello
Number of characters in - hello -: 5

# Question 8
Write a Python program to ask the user for a string and then print the string in reverse For example, 
Enter a string: Alice in Wonderland 
Reversed string: dnaldnoW ni ecilA

In [90]:
statement = input("Please enter your statement")
end= len(statement)

print(statement[0:end:1])

print(statement[-1:(-end)-1:-1])

Please enter your statementhello
hello
olleh

# Question 9
Write a Python program to ask the user for a string and then print the string with all the  letters capitalized. 
For example, 
Enter a string: european union 
Capitalized string: EUROPEAN UNION

In [92]:
statement = input("Please enter your statement").upper()
print(statement)

Please enter your statementhi
HI

# Question 10
Write a Python program to ask for the user's favorite Sportsman , and replicate that  name 100 times.

In [93]:
sportsman = input("Please enter your fav sportsman")
print(sportsman*100)

#is it possible we can have the output in the next lines instead of the same or with the serial number

Please enter your fav sportsmanDhoni
DhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoniDhoni

# Question 11

Write a Python program to ask for the user's name , and print the 1st character in that  name. 
For example , 
Enter your name: John 
The first character in your name is: J

In [95]:
name = input("Please enter your name").title()
print("Name's first character is: ", name[0])

Please enter your namepracahi
Name's first character is:  P

# Question 12
Write a Python program to ask the user to enter his favorite movie 1 , and then ask for  his favorite movie 2. Compute the difference in the length of movie names in both the  movies and print the length difference. 
For example :  
Please enter your favorite movie 1: Avengers: Endgame 
Please enter your favorite movie 2: The Shawshank Redemption 
The length difference between the movie names is: 13

In [96]:
name1 = input("Please enter your fav movie1")
name2 = input("Please enter your fav movie1")

print(abs(len(name1) - len(name2)))

Please enter your fav movie1aaa
Please enter your fav movie1bbbbb
2

In [99]:
movie = input("Please enter your two fav movies separated by comma ").split(",")

print(abs(len(movie[0]) - len(movie[1])))

Please enter your two fav movies separated by comma aaa, bbbbbb
4

# Question 13

Write a Python program to ask the user to enter their favorite quote. Count the number  of words in the quote and print the word count. 
For example , 
Please enter your favorite quote: "Make it happen” 
The word count in the quote is: 3

In [101]:
quote = input("Please enter your fav quote").split(" ")
print("Number of words in quote entered: ", len(quote))

Please enter your fav quoteMake it happen
Number of words in quote entered:  3

# Question 14
Write a Python program to ask the user to enter a word. Check if the word is a  palindrome (reads the same forwards and backwards) and print the result. 
For example , 
Please enter a word: radar 
The word "radar" is a palindrome.

In [107]:
word = input("Please enter a word")
print("Word entered: ", word)

reversal_word = word[-1:-len(word)-1:-1]
print("Reversal of word: ", reversal_word)

print("palindrome status", word == reversal_word)

Please enter a wordradars
Word entered:  radars
Reversal of word:  sradar
palindrome status False

# Question 15 - Not solved error in loop
Write a Python program to ask the user to enter a sentence. Replace all occurrences of a  specific word in the sentence with another word and print the modified sentence. 
For example , 
Please enter a sentence: "I love eating apples. Apples are delicious." 
Enter the word to replace: apples 
Enter the replacement word: oranges 
The modified sentence is: "I love eating oranges. Oranges are delicious."

In [ ]:
sentence_list = input("Please enter a sentence").lower().split(" ")
print(sentence_list)

# counting which word will be occured more than once, in a sentence entered

change_set = ()

start = 0
end = len(sentence_list)-1

while start <=end:
      if sentence_list.count(sentence_list[start]) >1:
        change_set.add(sentence_list[start])
        start = start+1

print(change_set)

In [1]:
user_input = input("Please enter any setnece : ").lower()


print("ORIGINAL:" ,user_input)

what_to_replace = "india"
with_what_to_replace = "spain"

user_input = user_input.replace(what_to_replace , with_what_to_replace)

print("MODIFIED:" ,user_input)

Please enter any setnece : smt murmu is the current president of india. india has a 5 year term for presidency.
ORIGINAL: smt murmu is the current president of india. india has a 5 year term for presidency.
Please enter what word you want to replace : INdia
Please enter  with what  word you want to replace : australia
MODIFIED: smt murmu is the current president of australia. australia has a 5 year term for presidency.

# Question 16
Write a Python program to ask the user to enter a sentence. Count the number of vowels  (a, e, i, o, u) in the sentence and print the vowel count. 
For example: 
Please enter a sentence: "The quick brown fox jumps over the lazy dog." 
The vowel count in the sentence is: 11

In [19]:
sentence = input("Please enter a sentence").lower()
count_vowels = sum([sentence.count("a"), sentence.count("e"), sentence.count("i"), sentence.count("o"), sentence.count("u")])

print("vowels:" , count_vowels)

Please enter a sentenceThe quick brown fox jumps over the lazy dog
vowels: 11

# Question 17

Write a code that takes in two strings and concatenates them, adding a 
space in between. Then, check if the length of full name is greater than 10 , 
if so, please print “Your name is very long” , Otherwise print ”Your name is 
Okay”

In [22]:
f_name = input("please enter your first name").title()
l_name = input("please enter your last name").title()

#concat name
full_name = f_name +" "+ l_name

# output conditions
if len(full_name) > 10:
    print("Your name is very long")
else:
    print("Your name is okay")

please enter your first nameprachi
please enter your last namegupta
Your name is very long

# Question 18

Write a Python program that takes two numbers as input and determines whether the  first number is greater, smaller, or equal to the second number. Output the appropriate  message based on the comparison result.

In [24]:
numbers = input("please enter 2 numbers separated by comma").split(",")
#conversion of string to int
numbers_int = [int(numbers[0]), int(numbers[1])]

# comparison 

if numbers_int[0] == numbers_int[1]:
    print("Equal numbers entered")
elif numbers_int[0] > numbers_int[1]:
    print("First number is greater than second")
else:
    print("Second number is greater than first")

please enter 2 numbers separated by comma23,12
First number is greater than second

# Question 19

Write a Python program to ask the user for a string and then print the number of  characters in the string 
For example, 
Enter a string: Hello World! 
The number of characters in the string is 12.

# Question 20
Write a Python program to ask the user to enter his favorite movie 1 , and then ask for  his favorite movie 2. Compute the difference in the length of movie names in both the  movies and print the length difference. 
For example :  
Please enter your favorite movie 1: Avengers: Endgame 
Please enter your favorite movie 2: The Shawshank Redemption 
The length difference between the movie names is: 13

# Question 21
Write a Python program to ask the user to enter a sentence. Count the number of vowels  (a, e, i, o, u) in the sentence and print the vowel count. 
For example ,  
Please enter a sentence: "The quick brown fox jumps over the lazy dog." 
The vowel count in the sentence is: 11

# Question 22

Write a Python program that takes the coordinates (x, y) of a point and determines the  quadrant it belongs to on the Cartesian plane. Use nested if-else statements to handle  different cases. The quadrants are defined as follows: 
- First quadrant: x > 0 and y > 0 
- Second quadrant: x < 0 and y > 0 
- Third quadrant: x < 0 and y < 0 
- Fourth quadrant: x > 0 and y < 0 
- Additionally, check if the point lies on the axes (x = 0 or y = 0) and provide appropriate  messages.

In [28]:
x_cordinates = int(input("please enter the x cordinates"))
y_cordinates = int(input("please enter the y cordinates"))

if x_cordinates > 0 and y_cordinates > 0:
    print("first quad")
elif x_cordinates < 0 and y_cordinates > 0:
    print("second quad")
elif x_cordinates < 0 and y_cordinates < 0:
    print("third quad")
elif x_cordinates > 0 and y_cordinates < 0:
    print("fourth quad")
else:
    print("on axis")

please enter the x cordinates0
please enter the y cordinates7
on axis

# Question 23

Write a Python program that prompts the user to enter their age and determines the  price of a movie ticket. The ticket price varies based on age ranges: 
Children (age <= 12): $5 
Adults (age > 12 and age <= 65): $10 
Seniors (age > 65): $7 
Note: Add conditions to check if the age entered by the user is valid (positive) and provide  an error message if it is not.

In [30]:
age = int(input("please enter your age"))

if age <= 12:
    print("price is $5")
elif age > 12 and age <= 65:
    print("price is $10")
elif age > 65:
    print("price is $7")
else:
    print("invalid data entered")

please enter your age34
price is $10

# Question 24

Write a Python program that prompts the user to enter the age and number of tickets  they want to purchase. Determine the ticket price based on the following conditions: Ticket original price is 200 USD. 
If the age is below 12, apply a 60 % discount per ticket. 
If the age is above 65, apply a 30% discount per ticket. 
If the age is above 40 and less than 60, apply a 20% discount per ticket. 
For other ages, no discount is applied.

In [33]:
age = int(input("please enter your age"))
number_of_tickets= int(input("please enter number of tickets required"))

price = 200

if age <= 12:
    print("price is 60% off for you, please pay", price*0.4*number_of_tickets)
elif age > 40 and age <= 60:
    print("price is 20% off for you, please pay", price*0.8*number_of_tickets)
elif age > 65:
    print("price is 30% off for you, please pay", price*0.7*number_of_tickets)
else:
    print("please pay", price)

please enter your age24
please enter number of tickets required1
please pay 200

# Question 25

Write a Python program that prompts the user to enter a temperature in Celsius or  Fahrenheit and converts it to the other unit. The program should ask the user to specify  the input unit (C for Celsius, F for Fahrenheit) and then perform the conversion using  the following formulas: 
Celsius to Fahrenheit: F = (C * 9/5) + 32 
Fahrenheit to Celsius: C = (F - 32) * 5/9 
Display the converted temperature.

In [38]:
temp = float(input("please enter the temperature"))
unit = input("please specify temperature entered is in Celsius or Fahrenheit").upper()

if unit[0] == "C":
    F = (temp *(9/5))+32
    print(F, "in F")
elif unit[0] == "F":
    C = (temp - 32)* (5/9)
    print(C, "in C")
else:
    print("please enter the valid data")

please enter the temperature23
please specify temperature entered is in Celsius or Fahrenheitv
please enter the valid data

# Question 26

Write a Python program that asks the user to enter a positive integer and calculates the  sum of its digits.

In [58]:
number = input("please enter a number")

#converting number to digits in string

number = list(number)
print(number[0])

# converting string to integer

digits= []

start = 0
end = len(number)-1
while start <= end:
    digits.append(int(number[start]))
    print(digits)
    start = start+1

#adding digits
print("sum of digits of the number entered is: ", sum(digits))

please enter a number12
1
[1]
[1, 2]
sum of digits of the number entered is:  3

# Question 27
Write a Python program that prompts the user to enter the marks (out of 100) for five  subjects: Math, Science, English, History, and Geography. Calculate the average marks  and determine the grade distribution based on the following conditions: 
If the average marks are above 90, print "Excellent". 
If the average marks are between 80 and 90 (inclusive), print "Good". 
If the average marks are between 70 and 80 (inclusive), print "Average". 
If the average marks are below 70, print "Below Average".

In [61]:
scores = input("please enter your 5 scores  for the subjects separated by comma").split(",")

# doubt - what if we want to specify which subject to - can we use dictory with input

print(scores)

#to calculate avg we need to convert stringed list to integers
scores_list = []

start = 0
end = len(scores)
while start < end:
    scores_list.append(int(scores[start]))
    start = start + 1

print(scores_list)
avg_scores_list = sum(scores_list)/end
print("Avg Scores: ", avg_scores_list)

#grade distribution system

if avg_scores_list > 90:
    print("Excellent")
elif avg_scores_list >80 and avg_scores_list <= 90:
    print("Good")
elif avg_scores_list > 70 and avg_scores_list <= 80:
    print("Average")
else:
    print("Below Average")

please enter your 5 scores  for the subjects separated by comma12,12,12,12,12
['12', '12', '12', '12', '12']
[12, 12, 12, 12, 12]
Avg Scores:  12.0
Below Average

# Question 28
Write a Python program that prompts the user to enter the lengths of three sides of a  triangle and determines if it is a valid triangle.  
Use the triangle inequality theorem to check the conditions: 
- If the sum of the lengths of any two sides is greater than the length of the  
third side, print "Valid triangle". 
- Otherwise, print "Invalid triangle".

In [66]:
sides = input("please enter 3 sides of a traingle separated by comma").split(",")

sides[0] < sides[1]

#can they compare the strings

please enter 3 sides of a traingle separated by comma12,13,12

True

In [67]:
sides = input("please enter 3 sides of a traingle separated by comma").split(",")

sides[0] < sides[1]

#can they compare the strings

please enter 3 sides of a traingle separated by comma12, 13, 12

False

In [68]:
sides = input("please enter 3 sides of a traingle separated by comma").split(",")

# converting strings into integers

start = 0
end = len(sides)
while start < end:
    sides[start] = int(sides[start])
    start = start+1
    
if (sides[0]+sides[1] > sides[2]) or (sides[1] +sides[2] > sides[0]) or (sides[0] +sides[2] > sides[1]):
    print("valid trainagle")
else:
    print("traingle cannot be formed")

please enter 3 sides of a traingle separated by comma1,1,2
valid trainagle

# Question 29

Write a program to print the numbers from 1 to 20 using a while Loop.

In [70]:
start = 1
end = 20

while start <=end:
    print(start)
    start = start+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Question 30
Write a program to ask the user to enter a number, and then keep printing "Hello!"  that many times.

In [71]:
number = int(input("please enter a number"))
print("Hello"* number)

please enter a number2
HelloHello

# Question 31
Write a program to ask the user to enter a number, then keep subtracting 1 from that  number until it reaches 0, and print each number as you go.

In [72]:
number = int(input("please enter a number"))

while number > 0:
    print(number)
    number = number -1

please enter a number5
5
4
3
2
1

# Question 32 -  match numbers couldnt be specified
Create a Python program that allows two players to enter their scores for the last three  football matches they played. 
The program should store their responses and then calculate the total scores for each game  by adding both players' scores together. Finally, it should display the total scores for each game. 
Requirements: 
Use a while loop to collect the scores from both players for the three matches. 
Store the scores in lists. 
Calculate the total scores for each game by summing up the corresponding scores from both  players' lists. ores for each game.

##
EXPECTED INPUTS 
Player 1, please enter your score for Match 1: 2 
Player 2, please enter your score for Match 1: 1 
Display the total sc
Player 1, please enter your score for Match 2: 3 
Player 2, please enter your score for Match 2: 2 
Player 1, please enter your score for Match 3: 1 
Player 2, please enter your score for Match 3: 4 

##
EXPECTED OUTPUT 
Total Score for Match 1: 3 
Total Score for Match 2: 5 
Total Score for Match 3: 5 
_______________________________

In [85]:
player1 = []
player2 = []

index = 0
start = 1
while start <= 3:
    player1.append(int(input("player 1 please enter your score for match")))
    player2.append(int(input("player 2 please enter your score for match")))
    print("total score for match", start, "is: ", sum((player1[index], player2[index])))
    start = start + 1
    index = index + 1

print("scores of player1 ", player1)
print("scores of player2 ", player2)

player 1 please enter your score for match2
player 2 please enter your score for match1
total score for match 1 is:  3
player 1 please enter your score for match3
player 2 please enter your score for match2
total score for match 2 is:  5
player 1 please enter your score for match1
player 2 please enter your score for match4
total score for match 3 is:  5
scores of player1  [2, 3, 1]
scores of player2  [1, 2, 4]

# Question 33
Write a program that generates the multiplication table of a given number using a while  loop. The program should display the table from 1 to 10. 
Example: 
##

Input: 5 
Output: 
5 x 1 = 5 
5 x 2 = 10 
5 x 3 = 15 
5 x 4 = 20 
5 x 5 = 25 
5 x 6 = 30 
5 x 7 = 35 
5 x 8 = 40 
5 x 9 = 45 
5 x 10 = 50

In [88]:
number = int(input("please write a number"))

start = 1
while start <= 10:
    print(number, "X", start , "=", number*start)
    start = start+1

please write a number5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

 # Question 34. 
Write a program that takes an integer as input from the user 6 times and calculates the  square of this number and print it.

In [90]:
#taking input 6 times from user
start = 1
while start <= 6:
    number = int(input("please write a number"))
    print("number entered: ", number)
    print("sq of the number: ", number**2)
    start = start + 1

please write a number2
number entered:  2
sq of the number:  4
please write a number3
number entered:  3
sq of the number:  9
please write a number4
number entered:  4
sq of the number:  16
please write a number5
number entered:  5
sq of the number:  25
please write a number6
number entered:  6
sq of the number:  36
please write a number1
number entered:  1
sq of the number:  1

# Question 35. 
Write a while loop that prints all numbers from 5 to 75.

In [91]:
start = 5
end = 76
while start < end:
    print(start)
    start = start +1

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75

# Question  36. 
Write a while loop that prints all even numbers from 2 to 200.

In [98]:
start = 2
end = 200
while start <= end:
    if start % 2 == 0:
        print(start)
    start = start +1
    
### or

start = 2
end = 200
while start <= end:
    print(start)
    start = start +2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

# Question 37. 
Write a while loop that calculates and prints the sum of numbers from 1 to 100.

In [112]:
start = 1
end = 5
total = 0
while start <= end:
    total = total + start
    start = start +1
    
print(total)

15

# Question 38. 
Write a while loop that prints the following pattern (triangle): 
* 
** 
*** 
**** 
*****

In [1]:
start = 1

while start <= 5:
    print("*" * start)
    start = start +1

*
**
***
****
*****

# Question 39. 
Write a while loop that print following pattern (rectangle): 
*************************** 
*************************** 
*************************** 
***************************

In [3]:
start = 1

while start <= 4:
    print("*" * 25)
    start = start +1

*************************
*************************
*************************
*************************

# Question  40. 
Write a program that takes an integer as input and calculates the sum of the squares of  all natural numbers from 1 to the input number.

In [7]:
number = int(input("enter a number"))
squares = []
while number >= 1:
    squares.append(number**2)
    number = number -1
    
summation = sum(squares)
print(summation)

enter a number2
5

# Question 41. 
Given a list of numbers, find the maximum value using a for loop. 
Input: A list of integers, for example, [10, 5, 25, 8, 15]. 
Expected Output: The maximum value in the list, which is 25.

In [11]:
list_numbers = [10, 5, 25, 8, 15]
Maximum_value = max([10, 5, 25, 8, 15])

print(Maximum_value)

25

# 42 Question  
Given a list of names, print each name in reverse. 
Input: A list of strings representing names, for example, ["Alice", "Bob", "Charlie", "David"]. Expected Output: 
ecilA 
boB 
eilrahC 
divaD

In [20]:
names = ["Alice", "Bob", "Charlie", "David"]

index = 0
while index < len(names):
    print("original: ", names[index])
    print("reversal: ", names[index][-1:-len(names[index])-1:-1])
    index = index + 1

original:  Alice
reversal:  ecilA
original:  Bob
reversal:  boB
original:  Charlie
reversal:  eilrahC
original:  David
reversal:  divaD

# Question 43. 
Given a list of integers, find the average (mean) of the numbers. 
Input: A list of integers, for example, [10, 20, 30, 40, 50]. 
Expected Output: 
The average of the numbers, which is 30 in this case

In [21]:
integers = [10, 20, 30, 40, 50]
average = sum(integers)/ len(integers)

print(average)

30.0

# Question 44. 
Print the multiplication table of a given number (e.g., 8). 
Input: A single integer representing the number whose multiplication table needs to be  printed. For example, 8. 
Expected Output: 
Multiplication table of 8: 
8 x 1 = 8 
8 x 2 = 16 
8 x 3 = 24 
... 
8 x 10 = 80

In [22]:
start = 1
while start <= 10:
    print("8 X", start, "=", 8*start)
    start = start + 1

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

# Question 45. 5. 
Given a list of strings, count the number of characters in each string and print the  results. 
Input: A list of strings, for example, ["apple", "banana", "orange", "grape"]. 
Expected Output: 
Number of characters in each word: 
apple: 5 
banana: 6 
orange: 6 
grape: 5

In [27]:
strings = ["apple", "banana", "orange", "grape"]

index = 0
while index < len(strings):
    print(strings[index], ":", len(strings[index]))
    index = index + 1

apple : 5
banana : 6
orange : 6
grape : 5

#  Question 46.
Given a list of strings, count the number of characters in each string and print the  results. 
Input: A list of strings, for example, ["apple", "banana", "orange", "grape"]. 
Expected Output: 
Number of characters in each word: 
apple: 5 
banana: 6 
orange: 6 
grape: 5

In [28]:
strings = ["apple", "banana", "orange", "grape"]

index = 0
while index < len(strings):
    print(strings[index], ":", len(strings[index]))
    index = index + 1

apple : 5
banana : 6
orange : 6
grape : 5

# Question 47
Given a list of numbers, find the maximum value using a for loop. 
Input: A list of integers, for example, [10, 5, 25, 8, 15]. 
Expected Output: The maximum value in the list, which is 25.

In [29]:
list_numbers = [10, 5, 25, 8, 15]
Maximum_value = max([10, 5, 25, 8, 15])

print(Maximum_value)

25